.center-clm {
    align-items: center;
}

.purplecode {
    color: #C792EA;
}

.bluecode {
    color: #82AAFF;
}

.palebluecode {
    color: #B2CCD6;
}

.greencode {
    color: #C3E88D;
}

.cyancode {
    color: #89DDFF;
}

.violetcode {
    color: #BB80B3;
}

.orangecode {
    color: #F78C6C;
}

.whitecode {
    color: whitesmoke;
}

.codithead {
    font-size: 2em;
    color: white;
    margin-top: 0.4em;
}

.coditscroll {
    font-size: 2em;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

h1.heading {
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    padding-top: 100px;
    padding-bottom: 80px;
}

.text-center {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.container-lrg {
    margin: auto;
    width: 100%;
    display: flex;
    max-width: 1080px;
}

.centerdevices,
.sidedevices {
    position: relative;
}

.centerdevices {
    margin: 0 0 60px;
}

.editor-window {
    background-color: #141414;
    border-radius: 5px 5px 0 0;
}

.editor-window .editor-menubar {
    background-color: #E5E4E4;
    height: 50px;
    display: flex;
    align-items: flex-start;
    border-radius: 5px 5px 0 0;
}

.editor-window code,
.editor-window code span {
    font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
    font-size: 14pt;
}

.editor-window pre {
    overflow-x: auto;
    border-radius: 0 0 5px 5px;
    padding-left: 20px;
    height: 100%;
}

.editor-menubar>.editor-button {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    box-shadow: 0px 0px 10px 1px;
}

.editor-filename {
    color: #141414;
    font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
    font-size: 12pt;
    font-weight: 600;
    margin-left: 10px;
}

.editor-menubar .close {
    background-color: red;
    margin-left: 10px;
}

.editor-menubar .minimize {
    background-color: yellow;
}

.editor-menubar .maximize {
    background-color: green;
}

div.logo-cli {
    height: 100%;
    color: whitesmoke;
    background-color: #002b36;
    line-height: 1.7em;
    text-align: left;
    padding-left: 30px;
}

.hidden.menu {
    display: none;
}

.col-12 {
    padding: 0 20px;
    width: 100%;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 2em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

@media (max-width: 350px) {
    .header .editor-window code span {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .editor-window code,
    .editor-window code span {
        font-size: 16px;
    }
}

.centerdevices .computerwrapper .mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: -1px 1px 4px rgba(107, 124, 147, .45);
    background: white;
}

.centerdevices .computerwrapper .mask-img {
    width: 100%;
    display: block;
}

.centerdevices .computerwrapper .computer {
    width: 640px;
    height: 448px;
    background: linear-gradient(to bottom, rgba(247, 251, 254, 1) 0%, rgba(221, 226, 232, 1) 100%);
    border-radius: 18px;
    position: relative;
    margin: auto;
    box-shadow: inset 0 2px 7px 1px rgba(255, 255, 255, .5), inset 0 -5px 20px rgba(187, 200, 225, .35), 0 2px 6px rgba(40, 39, 66, .14), 0 10px 20px rgba(40, 39, 66, .06), 76px 75px 169px -35px rgba(0, 0, 0, 0.4);
    padding: 25px 25px;
}

.centerdevices .computerwrapper .computer:after,
.centerdevices .computerwrapper .computer:before {
    content: "";
    position: absolute;
    border-radius: 3px 3px 0 0;
    width: calc(100% + 200px);
    height: 10px;
    background: linear-gradient(to right, rgba(246, 250, 253, 1) 0%, rgba(221, 226, 233, 1) 6%, rgba(246, 250, 253, 1) 15%, rgba(246, 250, 253, 1) 42%, rgba(230, 230, 230, 1) 42%, rgba(246, 250, 253, 1) 45%, rgba(246, 250, 253, 1) 53%, rgba(230, 230, 230, 1) 56%, rgba(246, 250, 253, 1) 56%, rgba(246, 250, 253, 1) 85%, rgba(221, 226, 233, 1) 94%, rgba(246, 250, 253, 1) 100%);
    left: -100px;
    bottom: -5px;
}

.centerdevices .computerwrapper .computer:before {
    height: 6px;
    bottom: -11px;
    border-radius: 0 0 40px 40px;
    background: #dde2e9;
    box-shadow: inset 0px -25px 10px -20px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 900px) {
    .centerdevices .computerwrapper .computer {
        width: 100%;
        padding: 20px;
        height: calc((100vw - 80px) * .75);
    }
}

@media screen and (max-width: 370px) {
    .centerdevices .computerwrapper .computer {
        padding: 15px;
    }
}

.centerdevices .iphoneipad2 .mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: -1px 1px 4px rgba(107, 124, 147, .45);
    background: white;
}

.centerdevices .iphoneipad2 .mask-img {
    width: 100%;
    display: block;
}

.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
    border-radius: 40px;
    position: relative;
    background: linear-gradient(to bottom, rgba(247, 251, 254, 1) 0%, rgba(221, 226, 232, 1) 100%);
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(187, 200, 225, .35), 0 2px 6px rgba(40, 39, 66, .14), 0 10px 20px rgba(40, 39, 66, .06), 0px 36px 79px -1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.centerdevices .iphoneipad2 .iphone {
    border-radius: 30px;
    width: 280px;
    height: 560px;
    z-index: 2;
    padding: 60px 12px 70px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-5deg);
}

.centerdevices .iphoneipad2 .iphone .mask {
    border-radius: 4px;
}

.centerdevices .iphoneipad2 .ipad {
    width: 830px;
    height: 560px;
    padding: 15px 85px;
    margin-left: auto;
    transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .05);
    position: absolute;
    top: calc(50% - 22px);
    right: 23px;
}

.centerdevices .iphoneipad2 .ipad:after {
    left: 34px;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
}

.centerdevices .iphoneipad2 .iphone:after {
    top: initial;
    bottom: 14px;
    left: calc(50% - 22px);
}

.centerdevices .iphoneipad2 .iphone:before {
    content: "";
    width: 58px;
    height: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 28px;
    left: calc(50% - 29px);
}

@media screen and (max-width: 900px) {
    .centerdevices .iphoneipad2 {
        position: relative;
        white-space: nowrap;
        vertical-align: top;
        overflow: scroll;
        width: calc(100% + 40px);
        margin: 0 0 0 -20px;
        z-index: 99;
        -webkit-overflow-scrolling: touch;
    }
    .centerdevices .iphoneipad2 .iphone,
    .centerdevices .iphoneipad2 .ipad {
        transform: none;
        border: none;
        position: relative;
        box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(187, 200, 225, .35), 0 2px 6px rgba(40, 39, 66, .14), 0 10px 20px rgba(40, 39, 66, .06);
        background: linear-gradient(to bottom, rgba(247, 251, 254, 1) 0%, rgba(221, 226, 232, 1) 100%);
        margin: 0 20px;
        display: inline-block;
    }
    .centerdevices .iphoneipad2 .iphone {
        height: 440px;
        width: 220px;
        padding: 50px 8px 60px;
        margin: 0 0 0 20px;
        border-radius: 30px;
    }
    .centerdevices .iphoneipad2 .iphone .mask {
        border-radius: 4px;
    }
    .centerdevices .iphoneipad2 .iphone:before {
        top: 24px;
        width: 50px;
        height: 7px;
        left: calc(50% - 25px);
    }
    .centerdevices .iphoneipad2 .iphone:after {
        width: 38px;
        height: 38px;
        left: calc(50% - 19px);
        bottom: 12px;
    }
    .centerdevices .iphoneipad2 .ipad {
        width: 740px;
        height: 440px;
    }
    .centerdevices .iphoneipad2 .ipad:before {
        left: 23px;
        right: inherit;
    }
    .centerdevices .iphoneipad2 .ipad:after {
        right: 36px;
        left: inherit;
    }
}