.main-header.ui.inverted.segment {
  margin-bottom: 4em;
}

.codit-header {
  margin-right: 1em;
}

hr.style-two {
  border: 0;
  height: 1px;
  margin-bottom: 2em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.07));
}

.samplebg {
  border-radius: 5px;
  background-color: whitesmoke;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sample {
  text-align: left;
  padding: 10px 0px 10px 10px;
}

.neg-bg {
  background-color: whitesmoke;
}

.ui.inverted.segment {
  border-radius: 0px;
}

.ui.inverted.vertical.footer {
  margin-top: 8em;
}

.instruction {
  padding: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: #eee;
  border-left-width: 5px;
  border-left-color: #5bc0de;
  margin-bottom: 1.5em;
}

.instruction h3 {
  color: #5bc0de;
}

.ui.fluid.primary.button {
  margin-bottom: 1em;
}

.CodeMirror {
  margin-top: 1em;
  margin-bottom: 2em;
}

#problem-title {
  margin-bottom: 1em;
}

#code-submit {
  margin-top: 1em;
}

td.slight-right {
  padding-left: 1em !important;
}

td.right.aligned.slight-left {
  padding-right: 1em !important;
}