<!DOCTYPE html>
<html>

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{.Title}} - Submission Details - Codit</title>
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/menu.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/tab.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/table.css">


  <link rel="stylesheet" href="assets/library/pages.css">
  <link rel="stylesheet" href="assets/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="assets/codemirror/theme/solarized.css">
</head>

<body>
  <!-- Page Contents -->
  <div class="ui inverted segment">
    <div class="ui container">
      <div class="ui inverted menu">
        <a class="codit-header" href="/">
          <img src="assets/images/Codit_nav.png" alt="nav" height="30px">
        </a>
        <a class="item">Explore</a>
        <a class="item" href="catalogue">Problems</a>
        <a class="item" href="status">Status</a>
        <a class="item">Contest</a>
        <a class="item">Aticles</a>
        <a class="item">Discuss</a>
      </div>
    </div>
  </div>

  <div class="ui container">
    <h3>
      <a>{{.Title}}</a>
    </h3>
    <textarea id="editor">{{.Code}}</textarea>
  </div>

  <!-- footer -->
  <div class="ui inverted vertical footer">
    <div class="ui container">
      <hr class="style-two">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column text-center">
          <p>Copyright &copy; 2018&ensp; Codit</p>
        </div>
        <div class="four wide column">
        </div>
        <div class="two wide column text-center">
          <p>Contact&nbsp; Us</p>
        </div>
        <div class="four wide column text-center">
          <p>Frequently&nbsp; Asked&nbsp; Questions</p>
        </div>
        <div class="three wide column text-center">
          <p>Terms&nbsp; of&nbsp; Service</p>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="assets/library/jquery.min.js"></script>
<script src="assets/codemirror/lib/codemirror.js"></script>

<script>
  $(document)
    .ready(function () {
      var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        value: "put your code here ..."
      });
    });
</script>

</html>