<!DOCTYPE html>
<html>

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{{.Title}} - Codit</title>
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/menu.min.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/tab.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/table.min.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="semantic/dist/components/message.css">

  <link rel="stylesheet" href="assets/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="assets/codemirror/theme/solarized.css">
  <link rel="stylesheet" href="assets/library/pages.css">
</head>

<body>
  <!-- Page Contents -->
  <div class="ui inverted segment">
    <div class="ui container">
      <div class="ui inverted menu">
        <a class="codit-header" href="/">
          <img src="assets/images/Codit_nav.png" alt="nav" height="30px">
        </a>
        <a class="item">Explore</a>
        <a class="item" href="catalogue">Problems</a>
        <a class="item" href="status">Status</a>
        <a class="item">Contest</a>
        <a class="item">Aticles</a>
        <a class="item">Discuss</a>
      </div>
    </div>
  </div>

  <div class="ui container">
    <h2 id="problem-title">{{.Pid}}. {{.Title}}</h2>
  </div>

  <div class="ui container">
    <div class="ui huge tabular menu">
      <a class="active item">
        <i class="pencil alternate icon"></i> Problem</a>
      <a class="item">
        <i class="lightbulb outline icon"></i>Hints</a>
      <a class="item">
        <i class="code icon"></i> Submissions</a>
      <a class="item">
        <i class="comments icon"></i> Discuss</a>
      <a class="item">
        <i class="flask icon"></i> Solutions</a>
    </div>

    <div class="ui stackable grid">
      <div class="twelve wide column">
        <h3>Description</h3>
        <p>{{.Description}}</p>
        <h3>Input</h3>
        <p>{{.Input}}</p>
        <h3>Output</h3>
        <p>{{.Output}}</p>
        <h3>Sample Input</h3>
        <div class="samplebg">
          <p class="sample">{{.SampleInput}}</p>
        </div>
        <h3>Sample Output</h3>
        <div class="samplebg">
          <p class="sample">{{.SampleOutput}}</p>
        </div>
        <br>
        <form id="code-submit" class="ui form" method="post" action="/submit">
          <select class="ui selection dropdown" name="compiler">
            <option value="">Select Compiler</option>
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="java">Java</option>
          </select>
          <textarea id="editor" name="code"></textarea>
          <div class="ui container">
            <div class="ui error message"></div>
            <input type="submit" value="Submit" class="ui secondary small button" />
          </div>
        </form>
      </div>

      <div class="four wide column">
        <table class="ui very basic table">
          <tbody>
            <tr class="neg-bg">
              <td class="slight-right">Difficulty:</td>
              <td class="right aligned slight-left"></td>
            </tr>
            <tr>
              <td class="slight-right">Total Submissions:</td>
              <td class="right aligned slight-left"></td>
            </tr>
            <tr class="neg-bg">
              <td class="slight-right">Total Submissions:</td>
              <td class="right aligned slight-left"></td>
            </tr>
            <tr>
              <td class="slight-right">Contributor:</td>
              <td class="right aligned slight-left"></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="ui dropdown p-drop">
            <div class="text">Related Topics</div>
            <i class="dropdown icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="ui dropdown p-drop">
            <div class="text">Similar Questions</div>
            <i class="dropdown icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="ui inverted vertical footer">
    <div class="ui container">
      <hr class="style-two">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column text-center">
          <p>Copyright &copy; 2018&ensp; Codit</p>
        </div>
        <div class="four wide column">
        </div>
        <div class="two wide column text-center">
          <p>Contact&nbsp; Us</p>
        </div>
        <div class="four wide column text-center">
          <p>Frequently&nbsp; Asked&nbsp; Questions</p>
        </div>
        <div class="three wide column text-center">
          <p>Terms&nbsp; of&nbsp; Service</p>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="assets/library/jquery.min.js"></script>
<script src="semantic/dist/components/tab.js"></script>
<script src="semantic/dist/components/form.js"></script>
<script src="semantic/dist/components/dropdown.js"></script>
<script src="semantic/dist/components/transition.js"></script>
<script src="assets/codemirror/lib/codemirror.js"></script>
<script src="assets/codemirror/mode/cmake/cmake.js"></script>

<script>
  $(document)
    .ready(function () {
      var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("editor"), {
        mode: "cmake",
        theme: "solarized",
        lineNumbers: true,
        value: "put your code here"
      });

      $('.ui.selection.dropdown').dropdown({
        onChange: function () {
          var lan = $('.ui.dropdown')
            .dropdown('get value');
          if (lan == "c") {
            myCodeMirror.getDoc().setValue(
              "#include <stdio.h> \nint main(void) {\n\tprintf(\"Hello World!\\n\");\n\treturn 0;\n}");
          } else if (lan == "cpp") {
            myCodeMirror.getDoc().setValue(
              "#include <iostream>\nusing namespace std;\nint main() {\n\tcout << \"Hello World!\" << endl;\n\treturn 0;\n}"
            );
          } else if (lan == "java") {
            myCodeMirror.getDoc().setValue(
              "class myjavaprog \n{\n\tpublic static void main(String args[])\n\t{\n\tSystem.out.println(\"Hello World!\");\n\t}\n}"
            );
          }
        }
      });

      $('.ui.form').form({
        fields: {
          compiler: {
            identifier: 'compiler',
            rules: [{
              type: 'empty',
              prompt: 'Please select a compiler'
            }]
          },
          code: {
            identifier: 'code',
            rules: [{
              type: 'empty',
              prompt: 'Code area cannot be empty'
            }]
          }
        }
      });
    });
</script>

</html>